@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.head {
    margin: 10px 0 10px 32px;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.head img {
    width: 38px; 
    height: 38px; 
    margin: 2px 0 0 3px;
}
.head input {
    width: 30%;
    height: 38px;
    font-size: 16px;
    padding-left: 14px;
    border-radius: 20px;
    background: linear-gradient(to top right, rgba(200, 200, 200, 0.2), rgba(180, 180, 180, 0.5));
    box-shadow: -10px 10px 20px rgba(100, 100, 100, 0.2);
    border: 1px solid black;
}

.head .swap a {
    width: 180px;
    height: 38px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border-radius: 25px;
    margin-top: 3px;
}

.head .swap a p {
    margin-top: 10px;
}

.head .swap a img {
    width: 23px;
    height: 23px;
    margin: 7px 0 0 10px
}

.head .swap a:hover {
    background-color: #acacac;
    color: white;
    transform: scale(1.05);
}

.head .button a {
    width: 125px;
    height: 38px;
    background-color: skyblue;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 3px;
}

.head .button a:hover {
    background-color: rgb(85, 207, 255);
    transform: scale(1.05);
}

.main {
    width: 100%;
    height: 350px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.main .headline {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 13px 0 0 30px;
}

.main .cards {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 10px 0 0 30px;
}

.main .cards .card {
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 20px 0;
    box-shadow: 3px 3px 3px rgb(133, 133, 133);
}

.card:hover {
    transform: translateY(-5px);
}

.card a img {
    width: 100%;
    height: 230px;
    aspect-ratio: 15/12;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 20px 0;
}

.card a {text-decoration: none;}
.card a .text {
    font-family: "Noto Sans", sans-serif;
    color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: -10px 0 0 15px;
}

.card a .text .rated {
    display: flex;
    flex-direction: row;
    margin-top: -25px;
    font-weight: 500;
}

.card a .text .rated img {
    margin-top: 20px;
    margin-left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 0;
    filter: brightness(1.1) exposure(1.1);
}