@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.head {
    margin: 15px 0 10px 32px;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.head img {
    width: 35px; 
    height: 30px; 
    margin: 7px 0 0 3px;
}
.head p {
    font-family: "Ubuntu", sans-serif;
    margin-top: 3px;
    font-weight: 600;
    color: #2f2f2f;
}

.main {
   margin-left: 20px;
   width: 95%;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   row-gap: 25px;
}

.des-card {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 20px;
    background-color: lightgray;
    border-radius: 20px 0;
    box-shadow: 3px 3px 3px rgb(133, 133, 133);
}

.des-card:hover {
    transform: translateY(-5px);
}

.des-card a img {
    width: 100%;
    aspect-ratio: 15/12;
    object-fit: conatain;
    position: relative;
    overflow: hidden;
    border-radius: 20px 0;
}

.des-card a {text-decoration: none;}
.des-card a .text {
    font-family: "Noto Sans", sans-serif;
    color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: -10px 0 0 15px;
}

.des-card a .text .fav {
    display: flex;
    flex-direction: row;
    margin-top: -25px;
    font-weight: 500;
}

.des-card a .text .fav img {
    margin-top: 20px;
    margin-left: 3px;
    width: 18px;
    height: 15px;
    border-radius: 0;
    filter: brightness(1.1) exposure(1.1);
}

.des-card a .text .fav p {
    margin-left: 5px;
    margin-top: 16px;
}