* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
    background: #f4f6f8;
    color: #222;
    line-height: 1.6;
}

.topbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.main {
    margin-top: 60px;
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 90%;
    margin: 0 auto 30px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid black;
}

.hero img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
    transform: scale(1.05);
    transition: transform 0.6s ease;
}
.hero:hover img {
    transform: scale(1.1);
}
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    /* background: linear-gradient(
        to top,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.2),
        transparent
    ); */
    z-index: 1;
}

.hero h1 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

/* SECTION CONTAINER */
.section {
    width: 90%;
    margin: 0 auto 40px;
    background: #D9D9D9;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black
}

.section h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

/* CARD GRID */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
}

/* CARD */
.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 10px 5px;
    font-size: 16px;
}

.card p {
    margin: 0 10px 15px;
    font-size: 14px;
    color: gray;
}

@media (max-width: 1024px) {
    .main {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {

    .main {
        margin-top: 60px;
    }
    .hero img {
        height: 260px;
    }

    .hero h1 {
        font-size: 22px;
        left: 20px;
        bottom: 20px;
        max-width: 90%;
    }

    .section {
        padding: 20px;
    }

    .section h2 {
        font-size: 18px;
    }

    .card img {
        height: 150px;
    }
}

@media (max-width: 480px) {

    .main {
        margin-top: 60px;
    }

    /* HERO */
    .hero img {
        height: 220px;
    }

    .hero h1 {
        font-size: 18px;
    }

    /* SECTION */
    .section {
        padding: 15px;
        margin-bottom: 25px;
    }

    /* CARD TEXT */
    .card h3 {
        font-size: 15px;
    }

    .card p {
        font-size: 13px;
    }
}
